Day1/calories.txt
Day2/rps.txt
Day3/rucksack.txt
Day4/sections.txt
Day5/crate.txt
Day6/packet.txt
Day7/system.txt
Day8/trees.txt
Day9/move.txt
Day10/cycle.txt
Day11/movement.txt
.DS_Store
Day12/shortest.txt
